body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}
.Logo{
  position: absolute;
  color: white;
  padding-inline: 5vw;
  padding-block: 1vh ;
  font-size: 1.3rem;

}
.Logo-p{
  position: relative;
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
  left: 3rem;
  top: -0.3rem;
  font-weight: 400;
}